@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --color-bg-main: #0A0A0A;
  --color-card-main: #1E1E1E;
  --color-accent-green: #00FF88;
  --color-slate-text: #94A3B8;
}

@layer base {
  body {
    @apply bg-bg-main text-white font-sans antialiased;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
